extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="row")
    label|Enter Hashtag for Search
      br
      input(id="hashtagSearch")
    label|Enter Music for Search
      br
      input(id="musicSearch")
    label|Enter User for Search
      br
      input(id="userSearch")