extends layout

block content
  h1= title
  p Welcome to #{title}
  div(id="row")
    form(method="post" action="/music")
      label|Select a search type
      select(id="searchOption")
        option|Music
        option|User
        option|Hashtag
  div(id="row")
      input(id="searchTerms" type="text" placeholder="E.g. Lil Nas X")
      button(onclick="/music" id="userSearch")|Search